<template>
  <li
    role="presentation"
    class="ec-tabs__tab"
    :class="{
      'ec-tabs__tab--active': active
    }"
    @click="handleClick">
      <a
        href="javascript:;"
        class="ec-tabs__link"
        role="tab"
        id="ec-screener-view-tabs-custom"
        :aria-selected="active"
        aria-label="Custom Tab"
      >Custom Tab</a>
  </li>
</template>

<script>
export default {
  name: 'new-tab-option',
  props: ['ecInstance'],
  data () {
    return {
      active: false
    }
  },
  methods: {
    handleClick () {
      console.log('deleting', this.ecInstance)
      this.$emit('customTabClicked')
    }
  }
}
</script>
