<template>
  <button
    id="show-charts-custom"
    class="mds-button mds-button--secondary ec-button__btn ec-components-button"
    @click="handleClick"
    type="button">
    <span class="ec-button__caption">CUSTOM</span>
  </button>
</template>

<script>
export default {
  name: 'show-chart-btn',
  props: ['ecInstance'],
  methods: {
    handleClick () {
      console.log('deleting', this.ecInstance)
      const currentModel = this.ecInstance.getModel()
      this.ecInstance.setModelProperty('showTabPanel', !currentModel.showTabPanel)
    }
  }
}
</script>

<style scoped>
#show-charts-custom {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
</style>
