<template>
  <div id="ec-screener-results-view-container-section-panel-results-view-shortlist" class="ec-section__content ec-section__content--results-view-shortlist  ec-section__content--expanded">
    <div class="ng-scope ng-isolate-scope mstar-view-tabs ec-tabs ec-component">
      <ul class="ec-tabs__tabs" role="tablist">
        <li role="presentation" class="ec-tabs__tab ec-tabs__tab--active">
          <a href="javascript:;" class="ec-tabs__link" role="tab">Overview</a>
        </li>
      </ul>
    </div>
  </div>
</template>
