
<template>
<div>
    <h2>{{ this.formatter.number(value) }}</h2>
    <input type="button" v-bind:value="this.labeller.getLabel('increment')" v-on:click="increment">
</div>
</template>

<script>
import { MwcVueBaseMixin } from 'morningstar-web-components';
import labels from "../assets/labels.json";

export default {
  mixins: [MwcVueBaseMixin],
  data: function() {
    return {
      value: 0,
      defaultConfig: {
        settings: {
          incrementAmount: 1,
          startingValue: 0
        },
        labels: labels
      }
    };
  },
  beforeMount() {
    this.value = this.settings.startingValue;
  },
  methods: {
    increment: function() {
      this.value = this.value + this.settings.incrementAmount;
      this.$emit("counterIncremented", this.value);
      this.logger.info(this.mwcId, `Incremented counter to ${this.value}.`);
    }
  }
};
</script>